.App {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.side-content {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-shrink: 0;
    transition: .2s width ease-in-out;
    width: var(--width-sidebar);
    overflow: auto;
    border: var(--color-separator) var(--width-separator-thin) solid;
}

.main-content {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-shrink: 0;
    transition: .2s width ease-in-out;
    width: calc(100% - var(--width-sidebar));
}