.nav-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.nav-link {
    background: transparent;
}

.nav-link-active {
    background-color: rgb(100, 93, 93);
    width: 100%;
    text-align: center;
}